---
layout: default
title: docs_charting
---
{% assign file_name = "docs_charting" %}
<div>
    <h2>{{ site.data.page.list[file_name].zh.title }}</h2>
    <p>{{ site.data.page.list[file_name].zh.desc }}</p>
    <br>
    <ul>
        {% for cate in site.categories %}
            {% if cate[0] == 'docs_charting' %}
                {% for post in cate[1] %}
                    {% if post.language == 'zh' %}
                        <li>
                            <h4>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h4>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
</div>

